body {
    background-color: black;
}

.shapkasi {
    background-image: url(../img/background_autor_left.png); /* Ïóòü ê êàðòèíêå */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: top left;
    background-attachment: fixed; /* Çàêðåïëÿåì èçîáðàæåíèå */
    box-shadow: inset 0px -10px 50px 50px black;
}

.tanasi {
    background: url(../img/bg_money.png); /* Ïóòü ê êàðòèíêå */
    background-position: 0 0;
    background-size: cover;
    background-repeat: repeat;
    animation: animated-bg 50s linear infinite;
    width: 100%;
    box-shadow: inset 0px 0px 30px 30px black;
}
    @keyframes animated-bg {
        from { background-position: 0 0; }
        to { background-position: 0 1000px; }
    }

/*
.podval {
    background-color: aquamarine;
}
*/
